* {
    background-color: white;
}

.gowun-dodum-regular {
  font-family: "Gowun Dodum", sans-serif;
  font-weight: 400;
  font-style: normal;
}


header{
    display :flex ;
    flex-direction: column;
    align-items: center;

    position: sticky;
    top :0 ;
}

body{
    display : flex ;
    flex-direction : column;
}

h1{
    text-align: center;
}

section {
  scroll-margin-top: 180px; 
}

nav ul {
    display:flex;
    justify-content: space-evenly;
    padding-left: 0;
}

nav ul li {
    list-style: none; /*리스트의 좌측에 있는 점 없앰*/
    text-align: center;
    flex: 1;
}

nav a{
    text-decoration: none;
    color: black;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2{
    text-align: center;
}

h4{
    margin-top: 10px;
    margin-bottom: 0px;
}

p{
    text-align : center;
    text-align-last : center ;
}

hr{
    width: 90%;
}

nav{
    width: 100%;
}


section {
    width: 90%;       
    margin-left: auto;  /* 왼쪽 남은 공간 알아서 채우기 (5% 할당됨) */
    margin-right: auto; /* 오른쪽 남은 공간 알아서 채우기 (5% 할당됨) */
}

.bold {
    font-weight: bold;
}

.italic{
    font-style: italic;
}

.red{
    color: red;
}

.green{
    color : green
}

.blue{
    color:blue
}

#profile *{
    text-align : center;
}

#weapon_type_cell {
    border: 2px solid;
    border-color: black;
}

#comu_name{
    width: 30%;
    height: 30%;
}

#comu_logo{
    width: 100%;
    height: 100%;
}
    
@media (width < 500px) {

    #comu_name{
    width: 60%;
    height: 60%;
    }   
}

@media (width > 500px) {
    section {
    width: 80%;       /* 내가 쓸 본문 공간은 90% */
    margin-left: auto;  /* 왼쪽 남은 공간 알아서 채우기 (5% 할당됨) */
    margin-right: auto; /* 오른쪽 남은 공간 알아서 채우기 (5% 할당됨) */
    }

    hr{
        width: 80%;
    }
}